<h1> All Outfits </h1>

<% @outfits.each do |outfit| %>

<div>
</h2><%= link_to outfit.name, outfit_path(outfit)%><h2>
</h3>
<%= outfit.top%>
<br>
<%= outfit.bottom%>
<br>
<%= outfit.shoes%>
<br>
<%= outfit.accessories%>
<br>
<%= outfit.times_worn%>
<br><h3>
<%# <% if outfit.styles?%>
<%# <h3> <%= link_to outfit.styles.name, outfit_styles_path(outfit)%>
<%# <%end%>
<div>
<%end%>
