<h1> Outfit Overview </h1>

<p>
<ul>
<h1> Outfit Name </h1>
<h3><%=@outfit.name%> </h3>
<%= @outfit.top%> |
<%= @outfit.bottom%> |
<%= @outfit.shoes%> |
<%= @outfit.accessories%>
<%= @outfit.times_worn%>
<br>
<br>



<%=link_to "Add a Style", new_outfit_style_path(@outfit)%>



<br>

<br>



<%= link_to "See Styles Associated with this Outfit", outfit_styles_path(@outfit)%>
<%@outfit.styles.each do |s|%>



<br>
<br>

<br>

<%= (s.user == current_user) ? (link_to "Edit Outfit", edit_outfit_path(@outfit)) : (nil)%>
<br>

<br>

<%= (s.user == current_user) ? (link_to "Delete outfit", outfit_path(@outfit), method: :delete, data: { confirm: "Are you sure you want to delete this outfit?"}) : (nil)  %>

<%end%>