<h1>Sign up</h1>

<body>
<% @errors && @errors.each do |e|%>
<li><%=e%></li>
<%end%>


<%= form_for(@user) do |f|  %>

<%= f.label :username %>
<%= f.text_field :username %>
<br>
<%= f.label :email %>
<%= f.email_field :email %>
<br>
<%= f.label :password %>
<%= f.password_field :password %>
<br>
<br>

<%= f.submit "Submit" %>

<%end%>

<body>
<br>

<br>

<%= button_to "Sign in with Facebook", '/auth/facebook' %>