
<% if @outfit%>
<h2><%= @outfit.name%></h2>
<%end%>

<% @errors && @errors.each do |e| %>
  <li><%=e%></li>
<%end%>

<h1> Comeplete this Outfit by giving it a Style </h1>


<%= form_for(@style, url: form_url_helper(@outfit)) do |f|%>

<%=f.label "Name"%>
<%=f.text_field(:name)%>
<%=f.label "Era"%>
<%=f.text_field(:era)%>
  <%if !@outfit%>
    <%=f.label "Outfit"%>
    <%=f.collection_select(:outfit_id, Outfit.all, :id, :name) %>
  <%end%>
<%=f.submit "Submit"%>
<%end%>
