<%=render(partial:"application/errors", locals: {errors: @style.errors.full_messages})%>

<% if @outfit%>
<h2><%= @outfit.name%></h2>
<%end%>

<h1> Comeplete this Outfit by giving it a Style </h1>

<%= form_for @style, url: form_url_helper do |f|%>

<%=f.label "Name"%>
<%=f.text_field(:name)%>
<%=f.label "Era"%>
<%=f.text_field(:era)%>
<%=f.submit "Submit"%>
<%end%>
