<!DOCTYPE html>
<html>
  <head>
    <title>FlatironWardrobe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

 
<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container-fluid">
     <% if logged_in?%>
  <%= link_to "Create an Outfit", new_outfit_path, class: "navbar-brand" %>
  <%= link_to "All outfits", outfits_path, class: "navbar-brand" %>
  <%= link_to "My outfits", user_outfits_path(current_user), class: "navbar-brand" %>
  <%# <%= link_to "Logout", logout_path, method: "delete", class: "navbar-brand" %> 

  <%else%>

  <%= link_to "Sign Up", signup_path %>
  <%= link_to "Login",  login_path %>
  <% end %>

  </div>
</nav>
<head>
<body>

    <%= yield %>
 <body>
</html>

